@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 10px;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

a,
a:visited {
  text-decoration: none; }

ul {
  list-style-type: none; }

::selection {
  background: #191919;
  color: #e6e6e6; }

body::-webkit-scrollbar {
  width: .75rem;
  background-color: #e6e6e6; }

body::-webkit-scrollbar-thumb {
  background-color: #191919;
  outline: 1px solid slategrey; }

button {
  border: none;
  font-family: inherit; }

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    opacity: 0; }
  100% {
    display: block;
    opacity: 1; } }

@keyframes fadeOut {
  0% {
    display: block;
    opacity: 1; }
  99% {
    display: block;
    opacity: .01; }
  100% {
    display: none;
    opacity: 0; } }

.u-fadeOut {
  animation: fadeOut .2s ease-out forwards; }

.u-fadeIn {
  animation: fadeIn .2s ease-in forwards; }

.releaseBox {
  background-color: #cdcdcd;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 4rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); }
  .releaseBox__header {
    font-weight: 300;
    font-size: 5rem;
    color: rgba(26, 26, 26, 0.85);
    margin-bottom: 1rem; }
  .releaseBox__img {
    width: 50vh;
    height: auto;
    margin-bottom: 2rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); }
  .releaseBox__list-container {
    float: left;
    margin: 1rem; }
  .releaseBox__list {
    padding-left: 1rem; }
  .releaseBox__list-title {
    font-size: 3rem;
    font-weight: 300; }
  .releaseBox__list-item {
    font-size: 2rem; }
  .releaseBox__list-link, .releaseBox__list-link:visited {
    text-decoration: none;
    color: #191919; }
    .releaseBox__list-link:hover, .releaseBox__list-link:visited:hover {
      font-weight: 700; }
  .releaseBox__art-credit {
    font-size: 1.8rem; }

.btn {
  outline: none;
  min-width: 10rem;
  background-color: #191919;
  color: #e6e6e6;
  padding: 1rem 2rem;
  transition: .2s ease all;
  margin: 1rem 0 1rem 1rem; }
  .btn:last-child {
    margin: 1rem; }
  .btn:hover {
    background-color: #595959;
    color: #cdcdcd;
    cursor: pointer; }

.page {
  min-height: 100vh;
  min-width: 100%;
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
