@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 10px;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: #e6e6e6; }

a,
a:visited {
  text-decoration: none; }

ul {
  list-style-type: none; }

::selection {
  background: #191919;
  color: #e6e6e6; }

body::-webkit-scrollbar {
  width: .75rem;
  background-color: #e6e6e6; }

body::-webkit-scrollbar-thumb {
  background-color: #191919;
  outline: 1px solid slategrey; }

button {
  border: none;
  font-family: inherit; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes glitch1 {
  0% {
    clip: rect(25px, 9999px, 33px, 0); }
  10% {
    clip: rect(32px, 9999px, 98px, 0); }
  20% {
    clip: rect(19px, 9999px, 73px, 0); }
  30% {
    clip: rect(26px, 9999px, 60px, 0); }
  40% {
    clip: rect(75px, 9999px, 98px, 0); }
  50% {
    clip: rect(60px, 9999px, 65px, 0); }
  60% {
    clip: rect(41px, 9999px, 48px, 0); }
  70% {
    clip: rect(88px, 9999px, 37px, 0); }
  80% {
    clip: rect(46px, 9999px, 56px, 0); }
  90% {
    clip: rect(48px, 9999px, 9px, 0); }
  100% {
    clip: rect(75px, 9999px, 100px, 0); } }

@keyframes glitch2 {
  0% {
    clip: rect(26px, 9999px, 74px, 0); }
  10% {
    clip: rect(12px, 9999px, 30px, 0); }
  20% {
    clip: rect(43px, 9999px, 9px, 0); }
  30% {
    clip: rect(42px, 9999px, 68px, 0); }
  40% {
    clip: rect(86px, 9999px, 1px, 0); }
  50% {
    clip: rect(37px, 9999px, 96px, 0); }
  60% {
    clip: rect(9px, 9999px, 38px, 0); }
  70% {
    clip: rect(14px, 9999px, 65px, 0); }
  80% {
    clip: rect(20px, 9999px, 7px, 0); }
  90% {
    clip: rect(76px, 9999px, 74px, 0); }
  100% {
    clip: rect(34px, 9999px, 36px, 0); } }

.u-fadeOut {
  animation: fadeOut .2s ease-out forwards; }

.u-fadeIn {
  animation: fadeIn .2s ease-in forwards; }

.releaseBox {
  background-color: #cdcdcd;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 4rem;
  margin: 2rem 0 2rem 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); }
  .releaseBox__header {
    position: relative;
    font-weight: 300;
    font-size: 5rem;
    color: rgba(26, 26, 26, 0.85);
    margin-bottom: 1rem; }
    .releaseBox__header::before, .releaseBox__header::after {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .releaseBox__header::before {
      left: 1px;
      text-shadow: -1px 0 rgba(26, 26, 26, 0.85);
      background: #cdcdcd;
      animation: glitch1 1.3s linear alternate-reverse infinite; }
    .releaseBox__header::after {
      left: -1px;
      text-shadow: -1px 0 rgba(26, 26, 26, 0.85);
      background: #cdcdcd;
      animation: glitch2 1s ease-out alternate-reverse infinite; }
  .releaseBox__img {
    width: 50vh;
    max-width: 90vw;
    height: auto;
    margin-bottom: 2rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); }
  .releaseBox__audio {
    margin: 1rem 0 1rem 0; }
  .releaseBox__list-title {
    font-size: 3rem;
    font-weight: 300; }
  .releaseBox__list-item {
    font-size: 2rem; }
  .releaseBox__list-link, .releaseBox__list-link:visited {
    text-decoration: none;
    color: #191919; }
    .releaseBox__list-link:hover, .releaseBox__list-link:visited:hover {
      font-weight: 700; }
  .releaseBox__art-credit {
    font-size: 1.8rem; }
    .releaseBox__art-credit:first-of-type {
      margin-top: 2rem; }
  @media only screen and (max-width: 600px) {
    .releaseBox {
      margin: 0; } }

.btn {
  outline: none;
  min-width: 10rem;
  background-color: #191919;
  color: #e6e6e6;
  padding: 1rem 2rem;
  transition: .2s ease all;
  margin: 1rem 0 1rem 1rem; }
  .btn:last-child {
    margin: 1rem; }
  .btn:hover {
    background-color: #595959;
    color: #cdcdcd;
    cursor: pointer; }

.page {
  min-height: 100vh;
  min-width: 100%;
  overflow-x: hidden;
  background-image: linear-gradient(to bottom right, #e6e6e6, rgba(25, 25, 25, 0.5)), url("../assets/img/5.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 2s ease-out forwards; }
