.page {
    min-height: 100vh;
    min-width: 100%;
    background-image: linear-gradient(to bottom right, rgba($color-offwhite, 1), rgba($color-nearblack, .5)),
                      url("../assets/img/5.jpg");
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: fadeIn 1s ease-out forwards;
}