.releaseBox {
    background-color: darken($color-offwhite, 10%);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
    margin: 2rem;
    @include shadow(1px, 1px, 5px, .2);

    &__header{
        position: relative;
        font-weight: 300;
        font-size: 5rem;
        color: $color-darkgrey;
        margin-bottom: 1rem;
        animation: glitchText .2s linear infinite;

        &::before,
        &::after {
            content: attr(data-text);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &::before {
            left: 1px;
            text-shadow: -1px 0 $color-darkgrey;
            background: darken($color-offwhite, 10%);
            animation: glitch1 1.5s linear alternate-reverse infinite;
        }

        &::after {
            left: -1px;
            text-shadow: -1px 0 $color-darkgrey;
            background: darken($color-offwhite, 10%);
            animation: glitch1 1s ease-out alternate-reverse infinite;
        }
    }

    &__img {
        width: 50vh;
        height: auto;
        margin-bottom: 2rem;
        @include shadow(1px, 1px, 5px, .2);
    }

    &__audio {
        margin-bottom: 1rem;
        border-radius: 0;
    }

    &__list-title {
        font-size: 3rem;
        font-weight: 300;
    }

    &__list-item {
        font-size: 2rem;
    }

    &__list-link, 
    &__list-link:visited {
        text-decoration: none;
        color: $color-nearblack;

        &:hover {
            font-weight: 700;
        }
    }

    &__art-credit {
        font-size: 1.8rem;

        &:first-of-type{
            margin-top: 2rem;
        }
    }
}