*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 10px;
	scroll-behavior: smooth;
}

body {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	background-color: $color-offwhite;
}

a,
a:visited {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

::selection {
	background: $color-nearblack;
	color: $color-offwhite;
}

body::-webkit-scrollbar {
    width: .75rem;
    background-color: $color-offwhite;
}
 
body::-webkit-scrollbar-thumb {
  background-color: $color-nearblack;
  outline: 1px solid slategrey;
}

button {
	border: none;
	font-family: inherit;
}